body{
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    background: #121316;
}

body::before{
    position: absolute;
    content: '';
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 91%;
    width: 80%;
    border-radius: 15px;
    border: 2px solid var(--color);
}

:root{
    --color: #2589ff;
    --del: #ff2566;
    --bg: #252629;
    --bg-lght: #404142;
    --bg-drk: #1e1f22;
    --text: #ffffff67;
    --text-l: #ffffff8a;
    --board: #191a1d;
    --outline: #ffffff11;
    --bx-shd: 0 0 8px 4px #5353532f;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

*::-webkit-scrollbar{
    height: 4px;
}

*::-webkit-scrollbar-track{
    background: var(--bg);
}

*::-webkit-scrollbar-thumb{
    background: var(--bg-lght);
    border-radius: 5px;
    transition: all .5s ease-in-out !important;
}

*::-webkit-scrollbar-thumb:hover{
    background: var(--color);
}

input, button{
    border: none;
}

button:focus{
    outline: 1.5px solid var(--color);
}

header{
    position: relative;
    padding: 5px;
    width: 200px;
    border-radius: 25px;
    text-align: center;
    font-size: .9rem;
    color: var(--color);
    background-color: #121316;
    border: 2px solid var(--color);
}

photolab{
    position: relative;
    height: 82vh;
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

photolab lab{
    overflow: hidden;
    position: relative;
    padding: 5px 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: var(--board);
}

lab display{
    height: 95%;
    width: 79%;
    padding: 5px;
    display: flex;
    justify-content: center;
}

display canvas{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

lab editor, details{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    outline: 2px solid var(--outline);
    gap: 13px;
}

lab editor{
    height: 99%;
    width: 20%;
}

details{
    color: var(--text);
}

channels{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

editor div, channels div{
    position: relative;
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    background-color: var(--bg-drk);
    transition: all .2s ease-in-out;
}

editor div.newfltr::before{
    position: absolute;
    content: '';
    top: 6px;
    left: 8px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: darkgoldenrod;
}

editor div h6{
    padding-inline: 5px;
    color: var(--text);
    font-weight: 600;
}

editor div input[type="number"]{
    height: 20px;
    width: 30px;
    color: var(--text-l);
    font-size: .8rem;
    border: none;
    border-radius: 5px;
    background-color: var(--bg);
    transition: all .2s ease-in-out;
}

editor div input[type="number"]::-webkit-inner-spin-button{
    display: none;
}

editor div input[type="number"]:focus{
    outline: 2px solid var(--color);
}

editor div:is(:hover, :focus) input[type="number"]{
    background-color: var(--bg-lght);
}

editor div input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 90px;
    height: 2.5px;
    background: var(--bg-lght);
    border-radius: 5px;
    background-image: linear-gradient(var(--color), var(--color));
    background-size: 0% 100%;
    background-repeat: no-repeat;
}

editor div input[red]{
    background: linear-gradient(to right, gray, #ff0000) !important;
    background-image: none;
}
editor div input[green]{
    background: linear-gradient(to right, gray, #00ff00) !important;
    background-image: none;
}
editor div input[blue]{
    background: linear-gradient(to right, gray, #0000ff) !important;
    background-image: none;
}
editor div input[sturation]{
    background: linear-gradient(to right, gray, var(--color)) !important;
    background-image: none;
}

editor div input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: var(--bg-lght);
    transition: background .2s ease-in-out;
    cursor: grab;
}

editor div input[type="range"]:focus::-webkit-slider-thumb{
    background: var(--color) !important;
}

editor div input[type="range"]::-webkit-slider-thumb:is(:focus, :active){
    cursor: grabbing;
}

editor div input[type="range"]::-webkit-slider-thumb:hover{
    background: gray;
}

editor div input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

editor div:hover{
    background-color: var(--bg);
}

editor action{
    position: absolute;
    bottom: 1.5%;
    height: 40px;
    width: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

action button, action button i, action a{
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

action button, action a{
    border: none;
    background-color: var(--bg);
    border-radius: 12px;
}

action button{
    width: 20%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

action a{
    width: 75%;
    transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

action button:hover{
    background-color: var(--color);
}

editor a:active{
    transform: scale(.8);
}

editor a .fi{
    height: 12px;
    width: 12px;
    margin-left: 5px;
    margin-bottom: 8px;
}

editor[off]{
    filter: opacity(45%);
    pointer-events: none;
}

editor[on] a{
    background-color: var(--color);
}

editor[on]{
    filter: opacity(100%);
    pointer-events: all;
}